@model List<AnhThuBakery.Models.QUANGCAO>
@{
    ViewBag.Title = "Quản Lý Quảng Cáo";
}


<div class="col-lg-12">
    @{
        if (TempData["title"] != null)
        {
            @Html.Partial("PartialThongBao", TempData["title"])
        }

    }
</div>
<div class="table-responsive" style="margin-top:20px;">
    <a href="../Admincp/CreateQuangCao" class="btn btn-success" style="margin-bottom:10px">Thêm Mới Quảng Cáo</a>
    <table id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover dataTable" aria-describedby="datatable2_info">
        <thead>
            <tr>
                <th class="header">Hình <i class="fa fa-sort"></i></th>
                <th class="header">Tên Công Ty <i class="fa fa-sort"></i></th>
                <th class="header">Link <i class="fa fa-sort"></i></th>
                <th class="header">Ngày Bắt Đầu <i class="fa fa-sort"></i></th>
                <th class="header">Ngày Kết Thúc <i class="fa fa-sort"></i></th>
                <th class="header">Sửa,Xóa <i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td><img style="max-width:100px;" src="@i.HinhMinhHoa"/></td>
                    <td>@i.TenCTY</td>
                    <td><a href="@i.Href">@i.Href</a></td>
                    <td>@i.NgayBatDau</td>
                    <td>@i.NgayKetThuc</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info">Sửa, Xóa</button>
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="../Admincp/UpdateQuangCao?id=@i.STT">Sửa</a></li>
                                <li><a href="../Admincp/DeleteQuangCao?Id=@i.STT">Xóa</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>




